DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_USER=nest
DATABASE_PASSWORD=nest
DATABASE_NAME=nest
DATABASE_PORT=5432
DATABASE_ORM_SYNC=true
DATABASE_SSL=false
JWT_SECRET=updateme
JWT_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES="20m"
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin
BCRYPT_SALT_ROUNDS=10
